[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "external/boost-di"]
	path = external/boost-di
	url = https://github.com/boost-experimental/di
